<%- if alert %>
  <div class="alert alert-warning" role="alert">
    <%= alert %>
  </div>
<% end %>

<%- if notice %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>
